.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: rgb(226, 226, 233);
    padding: 1rem;
}
.login-page h2 {
    margin:1rem;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: 700;
}
.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 0.5rem 1.rem rgba(0, 0, 0, 0.1) ;
}
.card-container h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: rgb(60, 60, 163);
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.2rem;

}
label {
    font-size: 1rem;
    margin-bottom: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
}
input {
    padding: 0.8rem 0.6rem;
    border-radius: 0.4rem;
    border: 1px solid #ccc;
    width: 300px;
    border-color: #28309e;
}
.submit-botton {
    width: 50%;
    padding: 0.7rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    background: #4f46e5;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}
.submit-botton:hover{
    background: #4338ca;
}
@media screen and (max-width: 480px){

  /* .card-container{
    width: 95%;
    padding: 15px;
  }

  .card-container h1{
    font-size: 24px;
  }

  .form-group input{
    padding: 10px;
    font-size: 14px;
  }

  .form-group button{
    padding: 10px;
    font-size: 14px;
  } */
   .card-container h2 {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    color: rgb(60, 60, 163);
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.2rem;

}
label {
    font-size: 1rem;
    margin-bottom: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
}
input {
    padding: 0.6rem 0.4rem;
    border-radius: 0.4rem;
    border: 1px solid #ccc;
    width: 200px;
    border-color: #28309e;
}
}